.landing-page {
  height: 100vh;
  background: url("/public/pakimg.jpg") center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-overlay {
  background: linear-gradient(rgba(15, 76, 117, 0.8), rgba(27, 38, 44, 0.9));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in-text {
  animation: fadeIn 1.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
